<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title></title>
<body>
{% include 'navigation.html' %}
<div style="position: absolute; top: 8%"><br />
	<h1>{{ away_team }} @ {{ home_team }}</h1>
	{% if m is defined %}
	<h1>{{ m }}</h1>
	{% endif %}<br />
	{% if away_box is defined and home_box is defined %}
	<h2>Boxscore</h2>
	<table style="border: 1px solid; font-size: 32px">
		<tr>
			<td><h3>{{ away_team }}</h3></td>
			<td><h3>{{ home_team }}</h3></td>
		</tr>
		<tr>
			<td>
				<ul>
	{% for key in away_box %}
		<!--<strong>{{key}}</strong> {{ away_box[key] }}<br />-->
		<li style="background-color: {{ loop.cycle('lightgrey', 'white') }}">{{ key }} {{away_box[key] }}</li>
	{% endfor %}
		</ul>
		</td>
		<td>
	<ul>
	{% for key in home_box %}
	<!--<strong>{{ key }}</strong> {{ home_box[key] }}<br />-->
		<li style="background-color: {{ loop.cycle('lightgrey', 'white') }}">{{ key }} {{home_box[key] }}</li>
	{% endfor %}
	</ul>
		</td>
		</tr>
	</table>
	{% endif %}
	{% if goal is defined %}
	<h2>Goals</h2>
	<table style="border: 1px solid; font-size: 32px">
		<tr>
			<th>Period</th>
			<th>{{ home_team }} </th>
			<th>{{ away_team }} </th>
		</tr>
		<tr>
			<td id="td-center">1</td>
			<td id="td-center">{{ goal.p1_home }}</td>
			<td id="td-center">{{ goal.p1_away }}</td>
		</tr>
		<tr>
			<td id="td-center">2</td>
			<td id="td-center">{{ goal.p2_home }}</td>
			<td id="td-center">{{ goal.p2_away }}</td>
		</tr>
		<tr>
			<td id="td-center">3</td>
			<td id="td-center">{{ goal.p3_home }}</td>
			<td id="td-center">{{ goal.p3_away }}</td>
		</tr>
	</table>
	{% endif %}
	{% if goal is defined %}
	<br />
	<table style="border: 1px solid; font-size: 32px ">
		<tr>
			<th>Period</th>
			<th>Time</th>
			<th>Team</th>
			<th>Description</th>
		</tr>
	{% for goal in goal_scoring %}
		<tr>
			<td>{{ goal.period }}</td>
			<td>{{ goal.time }}</td>
			<td>{{ goal.team }}</td>
			<td>{{ goal.desc }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	{% if sog is defined %}
	<h2>Shots On Goal</h2>	
	<table style="border: 1px solid; font-size: 32px">
		<tr>
			<th id="td-center">Period</th>
			<th id="td-center">{{ home_team }}</th>
			<th id="td-center">{{ away_team }}</th>
		</tr>
		<tr>
			<td>1</td>
			<td id="td-center">{{ sog.p1_home }}</td>
			<td id="td-center">{{ sog.p1_away }}</td>
		</tr>
		<tr>
			<td>2</td>
			<td id="td-center">{{ sog.p2_home }}</td>
			<td id="td-center">{{ sog.p2_away }}</td>
		</tr>
		<tr>
			<td>3</td>
			<td id="td-center">{{ sog.p3_home }}</td>
			<td id="td-center">{{ sog.p3_away }}</td>
		</tr>
	</table>

	</table>
	{% endif %}
	{% if penalty is defined %}
	<h2>Penalties</h2>
	<table style="border: 1px solid; font-size: 32px">
		<tr>
			<th>Period</th>
			<th>Time</th>
			<th>Team</th>
			<th>Description</th>
		</tr>
	{% for pim in penalty %}
		<tr>
			<td>{{ pim.period }}</td>
			<td>{{ pim.time }}</td>
			<td>{{ pim.team }}</td>
			<td>{{ pim.desc }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
</div>
</body>
</html>
