<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  {{ tracking|safe }}
</head>
<body>
	<ul class="nav nav-tabs nav-justified bg-danger text-light">
		<li class="nav-item">
				<a class="nav-link text-light" href="/"><span class="iconify" data-icon="emojione-monotone:ice-hockey" data-inline="false" style="color: #FFFFFF;"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/scores">Scores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/standings">Standings</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">Schedule</a>
			<div class="dropdown-menu bg-light">
			  <a class="dropdown-item" href="/schedule">Full Schedule</a>
			{% for key, value in all_teams.items() %}
			  <a class="dropdown-item" href="/schedule/{{ value }}">{{ key }}</a>
			{% endfor %}
			</div>
		</li>
	</ul>
<body>
<!-- BEGIN DATA -->	
    <h1>{{ away_team }} {{ away_score }} @ {{ home_team }} {{ home_score }} {{ game_state }}</h1>
	{% if m is defined %}
	<h1>{{ m }}</h1>
	<h3>Scheduled Start: {{ m2 }}</h3>
	{% endif %}<br />
	{% if away_box is defined and home_box is defined %}
	<h2>Boxscore</h2>
	<table class="table-sm table-striped">
		<tr>
			<th>{{ away_team }}</th>
			<th>{{ home_team }}</th>
		</tr>
		<tr>
			<td>
	{% for key in away_box %}
	{{ key }} {{away_box[key] }}</br >
	{% endfor %}
		</td>
		<td>
	{% for key in home_box %}
	{{ key }} {{home_box[key] }}<br />
	{% endfor %}
		</td>
		</tr>
	</table>
	{% endif %}
	{% if goal is defined %}
	<h2>Goals</h2>
	<table class="table-sm table-striped">
		<tr>
			<th>Period</th>
			<th>{{ home_team }} </th>
			<th>{{ away_team }} </th>
		</tr>
		<tr>
			<td>1</td>
			<td>{{ goal.p1_home }}</td>
			<td>{{ goal.p1_away }}</td>
		</tr>
		<tr>
			<td>2</td>
			<td>{{ goal.p2_home }}</td>
			<td>{{ goal.p2_away }}</td>
		</tr>
		<tr>
			<td>3</td>
			<td>{{ goal.p3_home }}</td>
			<td>{{ goal.p3_away }}</td>
		</tr>
	</table>
	{% endif %}
	{% if goal is defined %}
	<br />
	<table class="table table-striped">
		<tr>
			<th>Period</th>
			<th>Time</th>
			<th>Team</th>
			<th>Description</th>
		</tr>
	{% for goal in goal_scoring %}
		<tr>
			<td>{{ goal.period }}</td>
			<td>{{ goal.time }}</td>
			<td>{{ goal.team }}</td>
			<td>{{ goal.desc }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
	{% if sog is defined %}
	<h2>Shots On Goal</h2>	
	<table class="table table-striped">
		<tr>
			<th id="td-center">Period</th>
			<th id="td-center">{{ home_team }}</th>
			<th id="td-center">{{ away_team }}</th>
		</tr>
		<tr>
			<td>1</td>
			<td id="td-center">{{ sog.p1_home }}</td>
			<td id="td-center">{{ sog.p1_away }}</td>
		</tr>
		<tr>
			<td>2</td>
			<td id="td-center">{{ sog.p2_home }}</td>
			<td id="td-center">{{ sog.p2_away }}</td>
		</tr>
		<tr>
			<td>3</td>
			<td id="td-center">{{ sog.p3_home }}</td>
			<td id="td-center">{{ sog.p3_away }}</td>
		</tr>
	</table>

	</table>
	{% endif %}
	{% if penalty is defined %}
	<h2>Penalties</h2>
	<table class="table table-striped">
		<tr>
			<th>Period</th>
			<th>Time</th>
			<th>Team</th>
			<th>Duration</th>
			<th>Severity</th>
			<th>Description</th>
		</tr>
	{% for pim in penalty %}
		<tr>
			<td>{{ pim.period }}</td>
			<td>{{ pim.time }}</td>
			<td>{{ pim.team }}</td>
			<td>{{ pim.duration }}</td>
			<td>{{ pim.severity }}</td>
			<td>{{ pim.desc }}</td>
		</tr>
	{% endfor %}
	</table>
	{% endif %}
<h6 style="font-size: 9pt;">&nbsp;&nbsp;version: {{ version }}</h6>
</body>
</html>
