<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
</head>
<body>
	<ul class="nav nav-tabs nav-justified bg-danger text-light">
		<li class="nav-item">
				<a class="nav-link text-light" href="/"><span class="iconify" data-icon="emojione-monotone:ice-hockey" data-inline="false" style="color: #FFFFFF;"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/scores">Scores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/standings">Standings</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">Schedule</a>
			<div class="dropdown-menu bg-light">
			  <a class="dropdown-item" href="schedule">Full Schedule</a>
			{% for key, value in all_teams.items() %}
			  <a class="dropdown-item" href="/schedule/{{ value }}">{{ key }}</a>
			{% endfor %}
			</div>
		</li>
	</ul>
<body>
<!-- BEGIN ACTUAL DATA -->
	{% if playoff_round is defined %}
	<h1>Playoffs - Round {{ playoff_round }}</h1>
	{% endif %}
	<table style="font-size: 32px;">
	{% for m in matches %}
	<tr>
	<td>{{ m.matchup }}</td>
	<td>{{ m.status }}</td>
	</tr>
	{% endfor %}
</table>
	{% if headlines is defined %}
	<h3>News</h3>
	<ul>
	{% for item in headlines %}
	<li><a href="{{ item.link }}" target="_new">{{ item.headline }}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
	<!-- END ACTUAL DATA -->
</body>
</html>
