<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
</head>
<body>
	<ul class="nav nav-tabs nav-justified bg-danger text-light">
		<li class="nav-item">
				<a class="nav-link text-light" href="/"><span class="iconify" data-icon="emojione-monotone:ice-hockey" data-inline="false" style="color: #FFFFFF;"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/scores">Scores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/standings">Standings</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">Schedule</a>
			<div class="dropdown-menu bg-light">
			  <a class="dropdown-item" href="/schedule">Full Schedule</a>
			{% for key, value in all_teams.items() %}
			  <a class="dropdown-item" href="/schedule/{{ value }}">{{ key }}</a>
			{% endfor %}
			</div>
		</li>
	</ul>
<body>

<!-- BEGIN DATA -->
<h2>Eastern Conference</h2>
<table class="table table-striped">
	<tr>
		<td>Team</td>
		<td>Points</td>
		<td>L10</td>
		<td>Division</td>
		<td>Rank</td>
	</tr>
{% for team in east_conf %}
	<tr>
		<td><a href="team/{{team.team_id}}">{{ team.team_name }}</a></td><td>{{ team.team_points }}</td><td>{{ team.last_ten }}</td><td>{{ team.division }}</td>
		<td>
		{% if team.team_rank_division | int in [1,2,3] %}
			<strong>{{ team.team_rank_division }}</strong>
		{% else %}
			{{ team.team_rank_division }}{% if team.team_name in wc %} *{% endif %}
		{% endif %}
	</td>
	</tr>
{% endfor %}

</table>
<h2>Western Conference</h2>
<table class="table table-striped">
	<tr>
		<td>Team</td>
		<td>Points</td>
		<td>L10</td>
		<td>Division</td>
		<td>Rank</td>
	</tr>
{% for team in west_conf %}
	<tr>
		<td><a href="team/{{team.team_id}}">{{ team.team_name }}</a></td><td>{{ team.team_points }}</td><td>{{ team.last_ten }}</td><td>{{ team.division }}</td>
		<td>
		{% if team.team_rank_division | int in [1,2,3] %}
			<strong>{{ team.team_rank_division }}</strong>
		{% else %}
			{{ team.team_rank_division }}{% if team.team_name in wc %} *{% endif %}
		{% endif %}
	</td>
	</tr>
{% endfor %}
</table>
<!-- END DATA -->
    <h6 style="font-size: 9pt;">&nbsp;&nbsp;version: {{ version }}</h6>
</body>
</html>
