<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
    
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
</head>
<body>
	<ul class="nav nav-tabs nav-justified bg-danger text-light">
		<li class="nav-item">
				<a class="nav-link text-light" href="/"><span class="iconify" data-icon="emojione-monotone:ice-hockey" data-inline="false" style="color: #FFFFFF;"></span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/scores">Scores</a>
		</li>
		<li class="nav-item">
			<a class="nav-link text-light" href="/standings">Standings</a>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#">Schedule</a>
			<div class="dropdown-menu bg-light">
			  <a class="dropdown-item" href="schedule">Full Schedule</a>
			{% for key, value in all_teams.items() %}
			  <a class="dropdown-item" href="/schedule/{{ value }}">{{ key }}</a>
			{% endfor %}
			</div>
		</li>
	</ul>
<body>
<!-- BEGIN ACTUAL DATA -->
<script>
$(document).ready( function () {
    $('#table_id').DataTable( {
		paging: false
	});
} );
</script>
<br /><br/>
<!-- nav tabs for different groups of players -->
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#">Forwards</a>
	</li>

	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#">Defense</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" data-toggle="tab" href="#">Goalies</a>
	</li>
</ul>
<h3 style="text-align: center;">>Regular Season< | <a href="/team/{{ t }}/playoffs">Playoffs</a></h3>
<h2>Player Stats</h2>
<!-- panes for data sets -->
<div class="tab-content">
		<div class="tab-pane container active" id="forwards">
			<h1>FORWARDS</h1>
		</div>
		<div class="tab-pane container fade" id="defense">
			<h1>DEFENSE!</h1>
		</div>
</div>
		<h2>Scores</h2>
		{% for game in g %}
		<a href="/game/{{ game.game_id }}" target="_new">
		<table border="1px solid black" style="font-size: 22px; border-collapse: collapse;">
			{% if game.away_team_score > game.home_team_score %}
			<tr>
				<td><strong>{{ game.away_team }}</strong></td>
				<td><strong>{{ game.away_team_score }}</strong></td>
			</tr>
			<tr>
				<td>{{ game.home_team }}</td>
				<td>{{ game.home_team_score }}</td>	
			</tr>
			{% else %}
			<tr>
				<td>{{ game.away_team }}</td>
				<td>{{ game.away_team_score }}</td>
			</tr>
			<tr>
				<td><strong>{{ game.home_team }}</strong></td>
				<td><strong>{{ game.home_team_score }}</strong></td>	
			</tr>
			{% endif %}
			
		</table></a><br />
		{% endfor %}
		
<!-- END ACTUAL DATA -->
</body>
</html>
