<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.3.1.js"></script> 
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% include 'navigation.html' %}
<script>
$(document).ready( function () {
    $('#table_id').DataTable( {
		paging: false
	});
} );
</script>
<br /><br/>
<h3 style="text-align: center;">>Regular Season< | <a href="/team/{{ t }}/playoffs">Playoffs</a></h3>
<table id="table_id" class="display">
	<thead>
		<tr>
			<th>Player</th>
			<th title="Games Played">GP</th>
			<th title="Goals">G</th>
			<th title="Shots">S</th>
			<th title="Assists">A</th>
			<th title="Points">P</th>
			<th title="Plus/Minus">+/-</th>
			<th title="Penalty Minutes">PIM</th>
			<th title="Powerplay Goals">PPG</th>
		</tr>
	</thead>
	<tbody>
		{% for p in roster_stats %}
		<tr>
			<td>{{ p.NAME }}</td>
			<td>{{ p.GP }}</td>
			<td>{{ p.G }}</td>
			<td>{{ p.S }}</td>
			<td>{{ p.A }}</td>
			<td>{{ p.P }}</td>
			<td>{{ p.PLUS }}</td>
			<td>{{ p.PIM }}</td>
			<td>{{ p.PPG }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
